<div class="errors">
   <%= render "layouts/errors", model: @game %>
</div>
<div class="container">
  <h2>ゲーム情報編集</h2>

  <div class="game_new px-5 py-3" style="background:url(../../assets/bg_image.jpg); background-size: cover;">
    <%= render "public/games/form", game: @game %>
  </div>

</div>