<div class="errors">
   <%= render "layouts/errors", model: @game %>
</div>
<div class="container">
  <h2>ゲーム情報編集</h2>

  <div class="item-kv px-5 py-3">
    <%= render "public/games/form", game: @game %>
  </div>

</div>