<div class="container my-3">
  <h2>ゲーム詳細</h2>
　<% if @game.is_delete == true %>
　  この投稿は管理者により削除されております。
　<% else %>
    <%= render "public/games/show", game: @game %>
  <% end %>
    <br>
    <h2>コメント</h2>
    <div class="comment">
      <%= render "public/comments/comment_list", game: @game %>
      <%= render "public/comments/form", game: @game, comment: @comment %>
    </div>

</div>