<div class="container">
  <h2>絞り込み結果</h2>

  <div class="sort">
    <%= link_to "投稿が新しい順", filter_path(tag: @tag, games: @games, model: @model, word: @word, new_date: true) %>  | <%= link_to "いいねの多い順", filter_path(tag: @tag, games: @games,  model: @model, word: @word, favorite: true) %>
  </div>
    <% @tags.each do |tag| %>
      <%= link_to tag, filter_path(tag: tag, games: @games, model: @model, word: @word), class: "btn btn-outline-dark" %>
    <% end %>
  <div class="index row">
    <% if @games.empty? %>
      <h3>見つかりませんでした。</h3>
    <% else %>
      <%= render "public/games/game_index", games: @games %>

    <% end %>
  </div>
</div>