<div class="container">
  <h2>投稿一覧</h2>

  <div class="sort">
    <%= link_to "投稿が新しい順", admin_games_path(new_date: true) %> | <%= link_to "いいねの多い順", admin_games_path(favorite: true) %>
  </div>
    <% @tags.each do |tag| %>
      <%= link_to tag, admin_search_path(word: tag, model: "tag"), class: "btn btn-outline-dark" %>
    <% end %>
  <div class="row">
    <%= render "admin/games/index", games: @games %>
  </div>

</div>
