      <div class="user d-flex justify-content-end my-2">
        <div class="text-right alert alert-primary mr-3" style="width: 75%;">
          <%= chat.message %>
        </div>
        <div class="user_image">
          <%= image_tag chat.user.get_profile_image, size: "80x80" %>
        </div>
      </div>
