<div class="container my-3">
  <h1><%= @user.name %>さんのプロフィール編集</h1>

  <div class="user_edit" style="height: 500px; background:url(../../assets/bg_image.jpg); background-size: cover;">
    <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch, local: true do |f| %>
      <%= render "public/users/edit_form", f: f %>

      <div class="form-group d-flex justify-content-center">
        <%= f.submit "編集する", class: "btn btn-success col-4" %>
      </div>
    <% end %>
  </div>
</div>
