<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="/"><span>アナログ部</span></a>

    <div class="d-flex align-items-end justify-content-center flex-column bd-highlight mb-3 mt-2" style="height: 80px;">
      <ul class="navbar-nav mt-2">

        <li class="nav-link">
         <%= link_to "About", about_path, class:" text-light" %>
        </li>
        <li class="nav-link">
         <%= link_to "ユーザー一覧", admin_users_path, class:" text-light" %>
        </li>
        <li class="nav-link">
         <%= link_to "投稿一覧",  admin_games_path, class:" text-light" %>
        </li>
        <li class="nav-link">
          <%= link_to "ログアウト", destroy_admin_session,_path, method: :delete, class:" text-light" %>
        </li>
      </ul>
    </div>
  </div>
</nav>